<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Baloo yunohost</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/jumbotron-narrow.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">Baloo - yunohost</h3>
      </div>

      <div class="jumbotron">
        <h1>Terminal partager</h1>
        <p>Baloo permet de créer un terminal partager dans une page web. Cela permet à un amis de vous aidez et vous pouvez suivre les differante mannipulation qu'il fait. </p>
        <p class="lead">Il ne faut pas oublier de désactier ce partage quand vous aurez fini.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Créer le partage</a> <a class="btn btn-disable btn-lg btn-danger" href="#" role="button">Supprimer le partage</a></p>
      </div>


      <footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
